.info{
    position: absolute;
    z-index: 1;

    background-color: rgb(31, 186, 111);
    margin-right: auto;
    border: 10px outset rgb(0, 51, 25);
    border-radius: 10px;

    width: 250px;
    height: 110px;
    left: 40%;
    top: 3%;

    /* 글자 가운데 정렬*/
    align-items: center; 
    /*display: flex;*/
    justify-content: center;
    
    /* font-size: 30px; */
    /* opacity: 70%; */
}

.info-project{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-left: 57px;
}

.info-time{
    font-size: 15px;
    font-weight: 600;
    padding-left: 30px;
}

.findWayBtn{
    position: absolute;
    z-index: 1;

    color:rgb(255, 255, 255);
    background-color:rgb(5, 96, 52);
    width: 70px;
    height: 70px;
    left: 60%;
    top: 7%;

    padding-top: 5px;
    border: 3px outset rgb(88, 88, 88);
    border-radius: 10px;

    cursor: pointer;
    /* opacity: 70%; */
}

.findWayBtn:hover{
    color: rgb(5, 96, 52);
    background-color:rgb(255, 255, 255);
}

.findWay{
    margin-top:-30px;
    /* font-size: 30px; */
}

.helpBtn{
    position: absolute;
    z-index: 1;

    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    left: 90%;
    top: 80%;

    padding-top: 5px;
    border: 3px outset rgb(88, 88, 88);
    border-radius: 50%;

    cursor: pointer;
}

.helpBtn:hover{
    color: rgb(194, 0, 0);
    border: 3px outset rgb(255, 0, 0);
}

.qMark{
    font-size: 15px;
    font-weight: 900;
}

.direction{
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
}

#react-naver-maps{
    position: absolute;
}

.map{
    position: relative;
}

.toMainBtn{
    position: absolute;
    z-index: 1;
    
    color:rgb(255, 255, 255);
    background-color:rgb(5, 96, 52);
    width: 50px;
    height: 50px;
    left: 1%;
    top: 3%;

    padding-top: 5px;
    border: 3px outset rgb(88, 88, 88);
    border-radius: 10px;

    cursor: pointer;
}

.refreshBtn{
    position: absolute;
    z-index: 1;

    color:rgb(255, 255, 255);
    background-color:rgb(5, 96, 52);
    width: 80px;
    height: 70px;
    left: 60%;
    top: 7%;

    padding-top: 5px;
    border: 3px outset rgb(88, 88, 88);
    border-radius: 10px;

    cursor: pointer;
    /* opacity: 70%; */
}

.refreshBtn:hover{
    color: rgb(5, 96, 52);
    background-color:rgb(255, 255, 255);
}

.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .remove-button[_ngcontent-psu-c201]{background-image:url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/directions.png);background-size:196px 164px}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .remove-button.retina[_ngcontent-psu-c201]{background-image:url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/directions@2x.png)}.icon.goal[_ngcontent-psu-c201], .icon.start[_ngcontent-psu-c201], .icon.via1[_ngcontent-psu-c201], .icon.via2[_ngcontent-psu-c201], .icon.via3[_ngcontent-psu-c201], .icon.via4[_ngcontent-psu-c201], .icon.via5[_ngcontent-psu-c201], .icon.via-small1[_ngcontent-psu-c201], .icon.via-small2[_ngcontent-psu-c201], .icon.via-small3[_ngcontent-psu-c201], .icon.via-small4[_ngcontent-psu-c201], .icon.via-small5[_ngcontent-psu-c201]{background-image:url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/marker.png);background-size:393px 349px}.icon.goal.retina[_ngcontent-psu-c201], .icon.start.retina[_ngcontent-psu-c201], .icon.via1.retina[_ngcontent-psu-c201], .icon.via2.retina[_ngcontent-psu-c201], .icon.via3.retina[_ngcontent-psu-c201], .icon.via4.retina[_ngcontent-psu-c201], .icon.via5.retina[_ngcontent-psu-c201], .icon.via-small1.retina[_ngcontent-psu-c201], .icon.via-small2.retina[_ngcontent-psu-c201], .icon.via-small3.retina[_ngcontent-psu-c201], .icon.via-small4.retina[_ngcontent-psu-c201], .icon.via-small5.retina[_ngcontent-psu-c201]{background-image:url(https://ssl.pstatic.net/static/maps/v5/pc/20220531112111/marker@2x.png)}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]{-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none;position:relative;z-index:90;transform:translate(-50%,-100%);display:block}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]{position:relative}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .icon[_ngcontent-psu-c201]{cursor:grab;cursor:-webkit-grab}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .icon[_ngcontent-psu-c201]:active{cursor:grabbing;cursor:-webkit-grabbing}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .tooltip[_ngcontent-psu-c201]{visibility:hidden;position:absolute;left:calc(50% + -4px);bottom:calc(100% + 5px);z-index:100;padding:0 12px;height:24px;font-size:12px;color:#fff;line-height:23px;white-space:nowrap;border-radius:12px;background-color:#343437;box-shadow:0 1px 3px 0 rgba(0,0,0,.1);transform:translateX(-50%)}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .remove-button.hide[_ngcontent-psu-c201], .directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .tooltip.hide[_ngcontent-psu-c201]{display:none}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]:not(.dragging):hover   .remove-button[_ngcontent-psu-c201], .directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]:not(.dragging):hover   .tooltip[_ngcontent-psu-c201]{visibility:visible}.directions-map-popup-icon-item-popup[_ngcontent-psu-c201]   .directions-map-popup-icon-item[_ngcontent-psu-c201]   .remove-button[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top;background-position:-158px -104px;-o-object-fit:contain;object-fit:contain;visibility:hidden;position:absolute;cursor:pointer;top:-5px;right:-5px;width:18px;height:18px;border:0}.icon.start[_ngcontent-psu-c201]{background-position:-246px -42px}.icon.goal[_ngcontent-psu-c201], .icon.start[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;width:30px;height:40px;font-size:0;color:transparent;vertical-align:top}.icon.goal[_ngcontent-psu-c201]{background-position:-246px -84px}.icon.via1[_ngcontent-psu-c201]{width:30px;height:40px;background-position:-246px -126px}.icon.via1[_ngcontent-psu-c201], .icon.via-small1[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top}.icon.via-small1[_ngcontent-psu-c201]{width:28px;height:28px;background-position:-310px -144px}.icon.via2[_ngcontent-psu-c201]{width:30px;height:40px;background-position:0 -206px}.icon.via2[_ngcontent-psu-c201], .icon.via-small2[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top}.icon.via-small2[_ngcontent-psu-c201]{width:28px;height:28px;background-position:-310px -174px}.icon.via3[_ngcontent-psu-c201]{width:30px;height:40px;background-position:-32px -206px}.icon.via3[_ngcontent-psu-c201], .icon.via-small3[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top}.icon.via-small3[_ngcontent-psu-c201]{width:28px;height:28px;background-position:-310px -204px}.icon.via4[_ngcontent-psu-c201]{width:30px;height:40px;background-position:-64px -206px}.icon.via4[_ngcontent-psu-c201], .icon.via-small4[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top}.icon.via-small4[_ngcontent-psu-c201]{width:28px;height:28px;background-position:-310px -234px}.icon.via5[_ngcontent-psu-c201]{width:30px;height:40px;background-position:-96px -206px}.icon.via5[_ngcontent-psu-c201], .icon.via-small5[_ngcontent-psu-c201]{overflow:hidden;display:inline-block;font-size:0;color:transparent;vertical-align:top}.icon.via-small5[_ngcontent-psu-c201]{width:28px;height:28px;background-position:-278px -210px}

