div {
  white-space: pre-line;
}

.red{
  color:red;
}

.green{
  color: green;
}

.name{
  font-size: 20px;
  font-weight: 600;
}

.YTL-state{
  font-style: oblique;
  text-decoration: underline;
  font-weight: 600;
}

.timetable{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

caption{
  text-align: center;
  border: 1px solid black;
  background-color:rgb(5, 96, 52);
  color: white;
}

th,td{
  text-align: center;
  border: 1px solid black;
}

thead{
  background-color: rgb(2, 158, 83);
}

.information{
  margin-top: 5%;
}

.title{
  font-size: 20px;
  font-weight: 600;
  padding-left: 40%;
}

.subtitle{
  font-size: 15px;
  font-weight: 600;
}

.projc{
  font-style: oblique;
  text-decoration: underline;
  font-weight: 700;
  display: inline-block;
}

.bigBox{
  border: 3px solid black;
  border-radius: 5px;
}

.Btndisplay{
  color: aliceblue;
  background-color: rgb(31, 186, 111);
  border-radius: 5px;
  margin-left: 86%;
  padding: 5px;
  display: inline-block;
}

.Btndisplay:hover{
  color: rgb(31, 186, 111);
  background-color: aliceblue;
}

.getResultBtn{
  color: aliceblue;
  background-color: rgb(5, 96, 52);
  margin-top: 7%;
  margin-left: 70%;
  padding:10px;    
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
}

.getResultBtn:hover{
  color: rgb(5, 96, 52);
  background-color: aliceblue;
}